body{
	margin: 0;
	background-color: rgba(247, 212, 212, 0.651);
}
a { 
	text-decoration: none;
	color: inherit;
}
#menu { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 100px;
	border: 1px;
	display: flex;
	flex-direction: column-row;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
	background-color: #db1a1a;
	color:  #f9f9fc;
}
img{
	height: 100px;
	width: 95px;
	position: absolute;
	margin-top: -20px;
	transform: scale(1.5);
	margin-left: 20px;

}



#wrapper{
	display: flex;
	flex-direction: column;
	justify-content: left;
	gap:10px;
	width: 500px;
	margin: 200px auto;
	border: solid 2px #99989821;
	padding:100px 0;
	background-color: #fff;
	
}
.usernameInput input {
	width: 85%;
	height: 25px;
	/* line-height: 1px;  */
}
.username1, 
.username2 {
	padding-left: 30px;
	padding-bottom: 1;
}
.username1 p,
.username2 p {
color: rgb(26, 20, 20);
font-size: 26px;
margin-top: 0px;
margin-bottom: 1px;
font-family: Arial;

}
.username1 input,
.username2 input{
border: solid 2px #db1a1a8c;
border-radius: 7px;
height: 35px;
font-size: 18px;
color: rgb(0, 0, 0);
}

input:focus{
	outline: none !important;
    border-color: #db1a1ab7;
    box-shadow: 0 0 1px #db1a1a33;
}
button{
	margin-top: 10px;
	flex-basis: 40px;
	font-size: 18px;
	width: 200px;
	align-self: center;
	color: #fff;
	background-color: #db1a1a;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	
}



#content{ 
	margin-top:  100px;
	
}

.logoTitle{ 
	
}

.menuItems{
	font-family: Arial;

}

#footer{
	display: flex;
	justify-content: center;
}