a { 
	text-decoration: none;
	color: inherit;
}
#menu { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 100px;
	border: 1px;
	display: flex;
	flex-direction: column-row;
	justify-content: space-between;
	align-content: center;
	padding: 10px;
	background-color: #ff0000;
	color:  #f9f9fc;
}

#content{ 
	margin-top:  100px;
}

.logoTitle{ 
}

.menuItems{

}

#footer